In [1]:
import pandas as pd

In [4]:
file_1 = "../Resources/imdb_title_data.csv"
file_2 = "../Resources/imdb_rating_data.csv"

In [7]:
title_df = pd.read_csv(file_1, encoding = 'ISO-8859-1', low_memory = False)
title_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
3,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
4,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"

In [8]:
rating_df = pd.read_csv(file_2, encoding = 'ISO-8859-1', low_memory = False)
rating_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1595
1  tt0000002            6.0       196
2  tt0000003            6.5      1267
3  tt0000004            6.1       121
4  tt0000005            6.1      2030

In [10]:
merge_df = pd.merge(title_df, rating_df, on = 'tconst')
merge_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.6,1595
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.0,196
2,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.0,196
3,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1267
4,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",6.1,121

In [11]:
print(len(merge_df['tconst']))

474891